@use '@styles/variables' as *;

.container {
	display: flex;
	min-width: 350px;
}

.label {
	height: fit-content;
	width: 50%;
	cursor: pointer;
	text-align: center;
	border: 1px solid $buttonBlue;
	border-radius: 6px;
	padding: 16px 0;
	transition: all 0.3s ease;
	color: $primary;
	font-size: $fontSizeXXS;
	line-height: $fontSizeS;
	text-transform: uppercase;
	font-weight: $fontWeightBold;
	text-wrap: nowrap;
	letter-spacing: 1px;

	&_active {
		border-color: transparent;
		background-color: $primary;
		color: $backgroundColor;
	}
}

.input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}
